<article class="cover-letter" data-page="cover-letter">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>
  <section class="about-text">
    <p>
      My name is Bozhidar, or Bo for short, and I am set to graduate from Georgia Tech in May.My academic focus
      lies in systems and architecture, complemented by a professional background in back-end development.
    </p>
    <p>
      During the fall semester, I successfully assembled and led a team of 5 engineers to compete at Georgia
      Tech&rsquo;s Capstone Expo. I undertook the roles of full-stack engineer and product manager to develop a
      platform providing project booking and tracking services for general contractors. Through meticulous
      customer discovery sessions, I studied business requirements, leading to the design and implementation of a
      REST API (Python/FastAPI akin to Flask and PostgreSQL) and a feature-rich mobile app. This experience
      allowed me to ship numerous features within tight deadlines while adhering to rigorous testing and best
      practices. The <a href="https://github.com/BoManev/fastapi-backend">backend</a> can be found on my Github ()
    <p>
    <p>
      During my internship at Matrix (app.mtx.gg), a startup innovating the ways fans and content creators
      interact, I assumed responsibility for the development and deployment of features, ensuring a seamless
      weekly release. My role was centered around integrating with various platforms, including social media,
      blockchain resources, databases, and online game servers.
    </p>
    <p>
      In the upcoming months, I am set to contract for a firm specializing in AI-powered sports analytics. In
      this role, I will enhance their back-end capabilities in preparation for a product launch. This encompasses
      scalingtheir data stores, establishing a robust CI/CD, and addressing critical features to meet the
      requirements oftheir business clients.
    <p>
    <p>
      My passion lies in delivering high-quality features to end-users. I take pleasure in navigating the entire
      development process, from ideation to the implementation of well-tested and integrated solutions. Drawing
      from my experience working and contracting for startups, I thrive in fast-paced environments that prioritize
      critical thinking and effective decision-making.
    <p>
  </section>
</article>