<article class="projects" data-page="projects">

  <header>
    <h2 class="h2 article-title">Blog</h2>
  </header>

  <section class="blog-posts">
    <ul class="blog-posts-list">

      <li class="blog-post-item">
        <a href="#">
          <div class="blog-content">
            <div class="blog-meta">
              <p class="blog-category">Rust, AWS</p>
              <span class="dot"></span>
              <time datetime="2023">2023</time>
            </div>
            <h3 class="h3 blog-item-title">Newsletter Service</h3>


            <ul>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Developed a newsletter service in Rust to gain proficiency with key crates, async
                  execution, and
                  best practices.
                </p>
              </li>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Designed a system to stage emails and assign user groups, utilizing AWS SES for
                  email delivery.
                </p>
              </li>
            </ul>
          </div>
        </a>
      </li>

      <li class="blog-post-item">
        <a href="#">
          <div class="blog-content">
            <div class="blog-meta">
              <p class="blog-category">STM32, C++</p>
              <span class="dot"></span>
              <time datetime="2023">2023</time>
            </div>
            <h3 class="h3 blog-item-title">Embedded LoRa Network Protocol</h3>

            <ul>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Built a reliable transport protocol for transmitting structured data utilizing a
                  binary schema
                  over LoRa radio.
                </p>
              </li>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Implemented a schema exchange during the handshake, incorporated sequences numbers
                  and
                  retransmissions.
                </p>
              </li>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Developed a home automation system allowing a central hub to automatically register
                  and
                  configure new devices.
                </p>
              </li>
            </ul>
          </div>
        </a>
      </li>

      <li class="blog-post-item">
        <a href="#">
          <div class="blog-content">
            <div class="blog-meta">
              <p class="blog-category">STM32, C++</p>
              <span class="dot"></span>
              <time datetime="2023">2023</time>
            </div>
            <h3 class="h3 blog-item-title">Embedded LoRa Network Protocol</h3>

            <ul>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Created a simulator for Tomasulo&rsquo;s out-of-order processor featuring
                  configurable branch
                  prediction, cache, and virtual memory. The project builds upon laboratory assignment
                  from CS
                  4290: Adv. Computer Organization
                </p>
              </li>
              <li style="list-style-type: disc !important;">
                <p class="blog-text">
                  Analyzed the data collected from the simulator across various workflows to determine
                  the optimal
                  configurations.
                </p>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </section>
</article>