<article class="resume" data-page="resume">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Georgia Institute of Technology</h4>
        <span>2019 — 2024</span>

        <p class="timeline-text">
          Relevant Courses: Adv. Computer Organization (MS), Operating Systems, Compilers and Interpreters,
          Data
          Structures, Design and Analysis of Algorithms, Processor Design, Database Systems, Computer
          Networking
        </p>
      </li>
    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Plus Leader and Tutor</h4>
        <span class="timeline-loc">Georgia Tech [Atlanta, GA]</span>
        <span>AUG 2023 — Present</span>

        <ul class="timeline-inner-list">
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Conducting weekly recitations for an intro to AI course, presenting lecture content and
              answering
              questions.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Facilitating individual tutoring hours for various undergraduate classes covering topics in
              computer
              organization.
            </p>
          </li>
        </ul>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Backend Engineer Intern</h4>
        <span class="timeline-loc">Matrix [San Francisco, CA]</span>
        <span>MAY 2022 — AUG 2022</span>

        <ul class="timeline-inner-list">
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Developed a microservice using NestJS to enable transactions with smart contractors on the
              Ethereum
              blockchain.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Enhanced efficiency and throughput by mitigating transaction
              collisions through the use of a key rotation strategy and a Redis distributed lock to
              sequence the
              utilization of private keys.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Reduced operational expenditures through a strategic consolidation of microservices.
              Designed a robust database schema, implemented CRUD operations, and exposed both GraphQL and
              REST
              APIs.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Built a CLI tool and a Retool dashboard to assist with deployments and operation of smart
              contracts.
            </p>
          </li>
        </ul>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Head Teaching Assistant</h4>
        <span class="timeline-loc">Georgia Tech [Atlanta, GA]</span>
        <span>AUG 2021 — MAY 2022</span>

        <ul class="timeline-inner-list">
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Tutored 400+ students across 3 sections in introductory topics of operating systems design,
              computer
              organization and networking. Conducted weekly recitations to a group of 60 students covering
              lecture
              material.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Coordinated office hours and administrative tasks in conjunction with 20 other teaching
              assistants
              to ensure widespread availability and prompt turnaround of exams and assignments for
              students.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Collaborated with faculty members to formulate the course schedule and structure.
            </p>
          </li>
        </ul>
      </li>
    </ol>
  </section>


  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Leadership</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Lead Developer and Project Manager</h4>
        <span class="timeline-loc">CreateX Capstone [Georgia Tech]</span>
        <span>AUG 2023 — DEC 2023</span>

        <ul class="timeline-inner-list">
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Led a team of 5 students to develop a residential construction booking and tracking mobile
              app.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Conducted 100+ customer discovery interviews, created wireframes for usability testing, and
              implemented the prototype using React Native. Developed dynamic forms to collect booking
              information
              and create quotes.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Built a REST API with multi-step queries and a role-based JWT authentication using Python
              (FastAPI).
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Performed data modeling and optimized SQL queries, using CTE, to improve performance and
              reduce
              latency.
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Developed a recommendation engine using NumPY and a push notification system using RabbitMQ.
            </p>
          </li>
        </ul>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Co-Founder: Refigr</h4>
        <span class="timeline-loc">Bronco Venture [Santa Clara University]</span>
        <span>MAY 2023 — AUG 2023</span>

        <ul class="timeline-inner-list">
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Participated in a 4 month startup accelerator and collaborated with an industrial designer
              to
              develop a product configurator enabling real-time personalization and co-design of 3D assets
              (furniture).
            </p>
          </li>
          <li class="timeline-inner-item">
            <p class="timeline-inner-text">
              Building a website in React to dynamically assemble configuration controls from Grasshopper
              definitions and display 3D objects using ThreeJS, enhanced with ecommerce functionality for
              a
              seamless shopping experience.
            </p>
          </li>
        </ul>
      </li>
    </ol>
  </section>
  <div style="margin-top: 20px;">
    <a href="./assets/bkmanev-resume.pdf" target="_blank" class="open-pdf-link">View as PDF</a>
  </div>
</article>