@import url('./base.css');

.article-title {
  margin-bottom: 30px;
}

.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--highlight);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-list .timeline-loc {
  color: var(--font-primary-light);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -23px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--primary-light);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  height: 6px;
  width: 6px;
  background: var(--highlight);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  color: var(--font-primary);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/**
 * inner 
 */

.timeline-inner {
  margin-bottom: 30px;
}

.timeline-inner .title-wrapper-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-inner-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-inner-item {
  position: relative;
}

.timeline-inner-item:not(:last-child) {
  margin-bottom: 5px;
}

.timeline-inner-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-inner-list span {
  color: var(--highlight);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-inner-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -30px;
  width: 1px;
  height: calc(100% + 7px);
  background: var(--primary-light);
}

.timeline-inner-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--highlight);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-inner-text {
  color: var(--font-primary);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
  .timeline-list {
    margin-left: 65px;
  }

  .timeline-item:not(:last-child)::before {
    left: -40px;
  }

  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {
  .timeline-text {
    max-width: 700px;
  }
}